body {
	color: white;
	font-family: Ubuntu, sans-serif;
	margin: 0;	
}

.header {
	background-color: #0099FF;
	height: 90vh;
	padding: 5vh 5vw;
}

.top-bar {
	display: flex;
	align-items: center;
	font-weight: 500;
	justify-content: space-between;
}

.top-bar a {
	text-decoration: none;
}

.top-bar > .name {
	font-size: xx-large;
}

.links > a {
	color: #F0F0F0;
	font-size: large;
}

.links > a:hover, .links > .selected {
	color: white;
}

.links > a:not(:first-child) {
	margin-left: 2.5vw;
}
