body {
	color: #F0F0F0;
	font-family: Ubuntu, sans-serif;
	padding: 5vh 5vw;
	margin: 0;
	min-height: 90vh;
}

a {
	text-decoration: none;
}

.top-bar {
	display: flex;
	align-items: center;
	font-weight: 500;
	justify-content: space-between;
}

.top-bar a {
	color: #EEE;
}

.name {
	font-size: 2.25em;
}

.name, .links > a:hover, .selected {
	color: white !important;
}

.links > a {
	font-size: large;
}

.links > a:not(:first-child) {
	margin-left: 2.5vw;
}

.description {
	display: inline-block;
}

.description > span {
	color: white;
	font-size: 50px;
}

.description > p {
	font-size: x-large;
	line-height: 1.4;
	width: 38vw;
}
